/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #384C5F;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

