.playground{
  display: flex;

  box-sizing: border-box;
  .errors{
    margin: 10px;
    background-color: #fbecec;
    color: #c23f34;
    padding: 3px 30px;
    ul{
      padding: 0;
      list-style: none;
      li{
        white-space: pre-line;
      }
    }
  }
  .render-wrapper {
    flex: 1;
    padding: 10px;
  }

  .menu-wrapper{
    min-width: 335px;
    padding: 15px;
    border-right: 1px solid #e0e0e0;
    background-color: #f9fbff;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        font-size: 0.86rem;
        padding-bottom: 10px;
        cursor: pointer;

        .kind{
          font-weight: bold;
        }
      }
    }
  }
}


ngx-monaco-editor{
  height: calc(100vh - 100px);
}
